body {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;

  /* background image stays static */
  background: url('../img/background.jpg') no-repeat center center/cover;
}

/* overlay for color glow */
#color-overlay {
  position: fixed;
  top:0; left:0; width:100%; height:100%;
  pointer-events: none; /* let clicks go through */
  z-index: 0;
  mix-blend-mode: overlay; /* this lets color affect image */
}

/* container on top of overlay */
.container {position: relative; z-index: 1; text-align:center; padding:50px; max-width:1000px;}
